#letterboard {
color: white;
margin-top: 100px;
text-align: center;
}

#snowman{
  position:relative; left: 1000px; top: -700px;
  width: 500px;
  height: 500px;

}


#gameZone{
  margin-top: 100px;
  text-align: center;
color: white;
}

td {
  background-color: green;
  font-size: 100px;
  width: 65px;
  height: 70px;
}

td:hover {
    background-color: yellow;
}

body {
  background-image: url('https://dav0tv.github.io/Snowman-Beta/images/background.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}
