#letterboard {

margin-top: 100px;
}

#snowman{
  position:relative; left: 1000px; top: -500px;
  width: 500px;
  height: 500px;

}


#gameZone{
  margin-top: 100px;
  text-align: center;
}


td {
  font-size: 70px
}

td:hover {
    background-color: yellow;
}
